
<html>
<head>
    <title>Engineerbabu (E-Desk)</title>
</head>
<body>
    <table width="678" border="0" bgcolor="#e5caa3" align="center" cellspacing="0" cellpadding="30" style="line-height:normal">
        <tbody>
            <tr>
                <td>
                    <table width="678" border="0" bgcolor="#FFFFFF" cellspacing="2" cellpadding="0">
                        <tbody>
                            <tr>
                                <td height="5"></td>
                            </tr>
                            <tr>
                                <td align="center"><img border="0" src="http://app.lirataxi.com/images/lira.jpg" style="padding:5px;" height="34" class="CToWUd"></td>
                            </tr>
                            <tr>
                                <td height="5"><br></td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <font face="Arial, Helvetica, sans-serif">
                                        Dear <% UserName %> <br />
                                        <h3><% Subject %></h3>
                                        <h4><% LeadName %></h4>
                                        <p><% Summary %></p><br />
                                    </font>
                                </td>
                            </tr>
                            <tr>
                                <td align="center"><a href="<% ModuleLink %>"><img border="0" src="http://app.lirataxi.com/images/act.jpg" width="611" height="33" class="CToWUd"></a></td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <font face="Arial, Helvetica, sans-serif">
                                        <br />  Regards<br />
                                        <b>Engineerbabu Inc. (India)</b><br />
                                        <a href="http://www.engineerbabu.com">www.engineerbabu.com</a>
                                    </font>
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <img width="678" height="135" src="http://app.lirataxi.com/images/social.jpg" border="0" usemap="#14c97a99642aea2a_14c97a88a4fe449a_14bba6742319ec9d_Map3" class="CToWUd">
                                    <map name="14c97a99642aea2a_14c97a88a4fe449a_14bba6742319ec9d_Map3">
                                        <area shape="rect" coords="453,25,666,122" href="https://www.facebook.com/engineebabuindore" target="_blank">
                                        <area shape="rect" coords="235,27,448,124" href="https://twitter.com/mayankpratapEB" target="_blank">
                                        <area shape="rect" coords="14,27,227,124" href="https://www.youtube.com/watch?v=Wz30aBiNLpU" target="_blank">
                                    </map>
                                </td>
                            </tr>

                            <tr>
                                <td align="center"></td>
                            </tr>
                            <tr>
                                <td height="36" align="center"><a href="https://www.facebook.com/engineebabuindore" target="_blank"><img width="316" height="30" src="https://ci3.googleusercontent.com/proxy/sZjSwvmoAfJIbCANk1oYE67UKyrj4hBjhSEcp9mGTlcEFv6XQD9IPkRQSJDby6cvToheV79W5fHBJkDgiyCb=s0-d-e1-ft#http://img2.ymlp345.net/bk7e_like_658.jpg" border="0" class="CToWUd"></a></td>
                            </tr>
                            <tr>
                                <td>
                                    <table width="678" border="0" cellspacing="0" cellpadding="0" bgcolor="#3EAE26">
                                        <tbody>

                                            <tr>
                                                <td height="5"></td>
                                            </tr>
                                            <tr>
                                                <td align="center"><a> <img width="350" height="300" src="http://app.lirataxi.com/images/lira-2.png" border="0" class="CToWUd"></a></td>
                                            </tr>
                                            <tr>
                                                <td height="5" align="center"><img border="0" width="1" height="5" src="https://ci4.googleusercontent.com/proxy/g7GXXH6jGawCovgoWW7E-r3euzIn-cuGjAcZcaoPQg6ibQd9unzJvMDtnjUCZvr1FV7Rt_SHuwcTOK5oup4=s0-d-e1-ft#http://img2.ymlp345.net/bk7e_gap_656.jpg" class="CToWUd"></td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <font face="Arial, Helvetica, sans-serif" style="color:#ffffff">
                                                        We offer Taxi Service, and provide intance access on texi in your region.
                                                        please <span class="il"><a href="mailto:help@lirataxi.com" target="_blank"> email</a></span> us for any help..<br>
                                                        <br>
                                                    </font>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td align="center">
                                    <font face="Arial, Helvetica, sans-serif">
                                        <br>
                                        <span style="font-size:11px">
                                            <strong>NOTE: </strong> This email send by Lirataxi.com, if you are no longer receipent of this mail, please revert this mail to <a href="mailto:unsubscribe@lirataxi.com">unsubscribe@lirataxi.com</a> for unsubscribe.        <br>
                                        </span>
                                    </font>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>