<div class="left-panel">
    <h3> Passenger Profile </h3>
    <!-- <div class="img">
        <a href="#"><img src="images/client-3.jpg" class=""></a>
        <p>Client Name</p>
        <p><strong>Nway:-</strong> 1000</p>
        <p>+91 9713489961</p>
        <p>ajay.hariyal@ebabu.co</p>

    </div> -->
</div>
