<div id="menu">
    <nav class="navbar-wrapper navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-backyard">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand site-name" href="/">LOGO</a>
            </div>

            <div id="navbar-scroll" class="collapse navbar-collapse navbar-backyard navbar-right">
                <ul class="nav navbar-nav">
                    <li>
                        <input id="switch-onText" name="switch-onText" data-on-text="English" ng-model="LanguageID" data-ng-change="ChangeLanguage()" type="checkbox" checked>
                    </li>
                    <li><a href="#intro">About</a></li>
                    <li><a href="#feature">Features</a></li>
                    <li><a href="#subscribe">Subscribe</a></li>
                    <li><a href="#screenshot">Screenshots</a></li>
                    <li><a href="#testi">Reviews</a></li>
                    <li><a href="#download">Download</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
